hosts/jeta/shadow/ssh-creds.nix filter=git-agecrypt diff=git-agecrypt
hosts/jeta/shadow/xray-creds.nix filter=git-agecrypt diff=git-agecrypt
hosts/jeta/shadow/proxys.nix filter=git-agecrypt diff=git-agecrypt
hosts/yun/shadow/xray-creds.nix filter=git-agecrypt diff=git-agecrypt
hosts/yun/shadow/network.nix filter=git-agecrypt diff=git-agecrypt
AGENTS.md filter=git-agecrypt diff=git-agecrypt
