by-host/jeta/shadow/ssh-creds.nix filter=git-agecrypt diff=git-agecrypt
by-host/jeta/shadow/xray-creds.nix filter=git-agecrypt diff=git-agecrypt
by-host/yun/shadow/xray-creds.nix filter=git-agecrypt diff=git-agecrypt
by-host/yun/shadow/network.nix filter=git-agecrypt diff=git-agecrypt
